* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #eee;
}

.app {
  display: grid;
  grid-template-columns: 45.9rem 1fr;
  min-height: 100vh;
  color: #eee;
  font-family: 'Raleway', sans-serif;
  background-color: hsla(234, 32%, 17%, 1);
  min-height: 100vh;
  position: relative;
}

:global(.btn) {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .app {
    min-height: auto;
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: 100vh auto; */
  }
}
