* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #eee;
}

.app {
  display: grid;
  grid-template-columns: 45.9rem 1fr;
  min-height: 100vh;
  color: #eee;
  font-family: 'Raleway', sans-serif;
}
